* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  min-height: 40px;
  width: 100%;
  border-bottom: 1px solid #dfdcdc;
}

.navLogo {
  background-color: black;
  color: white;
  padding: 2px 1px;
  border-radius: 3px;
}

.navbar {
  display: flex;
  min-height: inherit;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.list-items > a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#list-item-logo {
  border-radius: 50%;
}

.list-items > a:hover {
  border-bottom: 3px solid red;
}

/* The Side Bar */
aside {
  float: left;
  width: 20%;
  height: 400px;
  margin: 20px 15% 0 15%;
  padding-right: 25%;
  display: flex;
}

aside div {
  padding: 25px 50px;
}

aside div img {
  border-radius: 50%;
  margin: 0 110px 0;
}

aside div h4 {
  width: 33%;
  margin: 8px 90px 1px;
  font-size: 18px;
  text-align: center;
  display: ruby;
}

 aside div p {
  width: 90%;
 /* height: 80px;*/
  padding-bottom: 4px;
  font-size: 16px;
  display: inherit;
  text-align: center;
 }

 aside ul li, a {
  color: #F9CE21;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0 8px;
  padding: 0px;
}
