* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html{
    overflow-x: hidden;
    font-family: Lato;
}

.top {
    min-height: 40px;
    width: 100%;
    border-bottom: 1px solid #dfdcdc;
}

.navLogo {
    background-color: black;
    color: white;
    padding: 2px 1px;
    border-radius: 3px;
}

.navbar {
    display: flex;
    min-height: inherit;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

.list-items > a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#list-item-logo {
    border-radius: 50%;
}

.list-items > a:hover {
    border-bottom: 3px solid red;
}

main {
    margin: 3rem 15rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-text h2 {
    display: inline-block;
    font-size: 28px;
}

.profile-text button {
    display: inline-block;
    margin: 0 0 0 2rem;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: transparent;
    position: relative;
    bottom: 7px;
}

.profile-image {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.profile-text__desc {
    font-size: 16px;
    margin: 5px 0 20px;
}

.grey-text {
    color: #777;
    font-size: 13px;
}

.grey-text span {
    margin: 0 1rem 0 0;
}

.ln {
    width: 100%;
    border-bottom: 1px solid #999;
    margin: 25px 0 40px; 
}

.ti {
    border-bottom: 2px solid #000;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: -4px;
}


.post-item {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 2rem 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

.author {
    display: flex;
    padding: 0 0 2rem;
} 

.author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.author-text {
    padding: 10px 20px;
}

.author-name {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    color: #999;
    margin: 5px 0;
}

.post-image {
    width: 100%;
    height: 400px;
}

.post-item > h3 {
    font-size: 30px;
    text-transform: capitalize;
    padding: 10px 0;
}
.post-stat {
    display: flex;
    justify-content: space-between;
}

.grey-icon {
    color: #777;
}



  background:#f4f4f4;
}

input{
  color: #f4f4f4;

}

.container{
  margin:auto;
  overflow: hidden;
width :80%;

}



.main-color-bg{
  background-color: black !important;
  border-color: black!important;
  color:#ffffff !important;
}







.panel-heading{
  background-color: white;
  height: 30px;
color:black;
  margin-left: 140px;
  margin-right: -140px;
  border-radius: 1%;
} 

.panel-title{
  margin-left: 30px;
  font-family: sans-serif;
 font-size: 20px;
  padding-top: 5px;

}

.row{
  padding-top: 30px;
}

.panel-body{
   background-color: white;
   margin-left: 140px;
   margin-right: -140px;
   padding-left: 20px;
   padding-right: 20px;
   margin-bottom: 20px;
   padding-bottom:  20px;
   border-left: 1px solid  grey;
   border-right: 1px solid  grey;
   border-bottom: 1px solid  grey;
   border-radius: -1%;


}

.col-md-7{

  margin-right: 35%;
  margin-left: 25%;
} 

.form-group{
  padding:  15px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 10px;

}



.form-control{
  border: 1px solid #f4f4f4;
  width: 100%;
  height: 35px;
}

.btn{
  margin-left: 25px;
  height: 33px;
  width: 95%;
  margin-bottom: 20px;
}

.btn-default{
    background-color: white;
    color: black;
    border: 1px grey solid;
    border-radius: 1%;
    
    margin-right:  10px;
    margin-left:  10px;

}




.well{
  background-color: #f4f4f4;
  border-radius: 2%;
  padding-top: 10px;
  margin-right: -20px;
  margin-left: -20px;
  border: 1px solid  grey;
}

/* Footer */
#footer{
  margin-top: -70px;
  color:#ffffff;
  text-align:center;
  padding:30px;

}

#footer{
  height: 3vh;
  margin-left: 320px;
  padding-top: 110px;
  padding-bottom: 100px;
}

#footer ul{
  margin: 0;
  padding: 0;
  
}

#footer li{
  list-style: none;
  display: inline;

}

#footer a{
  text-decoration: none;
  padding-right: 10px;
  text-align: center;
  font-size: 13px;
  color: grey;
  padding-top: 9px;
  
  
}