@import url("https://fonts.googleapis.com/css?family=Cabin|Lato|Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --bg-primary: #f2f2f2;
  --yellow: #f9ce21;
  --grey: #e6e6e6;
  --section-margin: 4rem auto;
  --box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: black;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #3a3a3a;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

header {
  width: 100%;
  padding: 1rem 10rem;
  background: var(--yellow);
}

header h1 {
  color: #000;
  text-transform: uppercase;
}

/* Sections */
.container {
  width: 100%;
}

.login-info {
  width: 100%;
  text-align: center;
  padding-top: 4rem;
}

.login-info .subheader {
  width: 30%;
  margin: 20px auto;
  font-size: 18px;
}

/* Contact */
.contact-area {
  width: 50%;
  margin: 4rem auto;
  display: flex;
  border: 6px solid var(--grey);
  justify-items: flex-end;
}

.contact-info {
  padding: 2rem 1rem;
  color: var(--grey);
  width: 60%;
}

.contact-details,
.contact-form {
  margin: 20px 0;
}

.contact-image-area {
  width: 40%;
}

.contact-image-area img {
  height: 100%;
  width: 100%;
}

.contact-details {
  display: flex;
  justify-content: space-between;
}

.sub-header {
  color: var(--grey);
}

.sub-info {
  color: #000;
  font-size: 14px;
}

.contact-form .textfield {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--grey);
  width: 100%;
  padding: 5px;
  color: black;
  font: bold;
}

.follow-icons {
  color: #000;
  font-size: 20px;
  padding: 1rem 0;
}

.social {
  padding-right: 10px;
  cursor: pointer;
}

.form-area {
  width: 40%;
  margin: var(--section-margin);
  background: #fff;
  border: 1px solid grey;
  border-bottom: 8px solid var(--yellow);
  border-radius: 5px;
  padding: 6rem;
}

/* Form */
.error {
  color: #cc0000;
  text-align: center;
}

.form-group {
  margin: 30px 0 30px;
}

.btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  box-shadow: var(--box-shadow);
}

.btn-google {
  background: white url("../images/goo.png") 15% center no-repeat;
  color: grey;
}

.btn-facebook {
  background: white url("../images/fb.png") 15% center no-repeat;
  color: grey;
}

.btn-submit {
  background: var(--yellow);
  color: #000;
  font-weight: 700;
  width: 50%;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

/** MOBILE STYLES **/
@media only screen and (max-width: 1200px) {
  .form-area {
    width: 50%;
    padding: 4rem;
  }

  .contact-area {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .form-area {
    width: 50%;
  }

  .btn-google,
  .btn-facebook {
    background-position: 2% center;
  }

  .contact-details {
    flex-direction: column;
  }
}

@media only screen and (max-width: 599px) {
  header h1 {
    text-align: center;
  }

  .login-info .subheader {
    width: 80%;
  }

  .form-area {
    width: 80%;
  }

  .contact-image-area {
    display: none;
  }

  .btn-submit {
    width: 80%;
  }
}

.top {
  min-height: 40px;
  width: 100%;
  border-bottom: 1px solid #dfdcdc;
}

.navLogo {
  background-color: black;
  color: white;
  padding: 2px 1px;
  border-radius: 3px;
}

.navbar {
  display: flex;
  min-height: inherit;
  justify-content: space-evenly;
  align-items: center;
  width: inherit;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.list-items>a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#list-item-logo {
  border-radius: 50%;
}

.list-items>a:hover {
  border-bottom: 3px solid red;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  height: 40px;
  width: 40px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center
}

.icon {
  padding-left: 20px
}

.container {
  display: flex;
  padding: 5rem;
}

#profile-pic {
  border-radius: 50%;
}

.user-img {
  height: 15em;
  width: 15em;
  border-radius: 50%;
}

.user-info,
.about-para {
  width: 50%;
}

.user {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.words {
  margin-top: 0;
  width: 20em;
  text-align: center;
}

.contact-btn {
  padding: 7px 15px;
  font-weight: 500;
  color: black;
  background-color: #e0b12c;
  border: 1px solid #e0b12c;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .user-info,
  .about-para {
    width: 100%
  }

  .about-para {
    text-align: center;
  }
}

.about {
  position: relative;
  left: 170px;
  top: -20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 70px;
}

.name {
  position: absolute;
  top: 90px;
  left: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}

.bio>p {
  word-break: break-all;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #111111;
  /* height: 68px; */
}

.bio {
  width: 219px;
  height: 68px;
  position: absolute;
  top: 120px;
}

.socials {
  position: relative;
  top: 180px;
  margin-left: 30px;
}

.socials p {
  display: inline;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.twitter {
  display: inline;
  color: #F9CE21;
  text-decoration: none;
}

.medium {
  display: inline;
  color: #F9CE21;
  text-decoration: none;
}

.github {
  display: inline;
  color: #F9CE21;
  text-decoration: none;
}