.profile__wrapper {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 4em;
}
.side__div {
    width: 30%;
    text-align: center;
}
.content__body{
    width: 70%;
}
.profile__img img {
    width: 90px;
    border-radius: 50px;
}
.user__info{
    display: grid;
}
.navigate__link {
    display: grid;
    padding-top: 2.5em;
    font-size: 18px;
}
.nav__link__name{
    margin-bottom: 20px;
}
.content__body__top{
    margin-left: 10.5em;
}
.content__main__body{
    margin-left: 2em;
    border-left: 2px solid #aca3a3;
    padding-left: 8.5em;
}
.social__media__icon {
    margin-left: 2em;
    text-align: center;
    color: #0e777e;
    padding-top: 2em;
}
.social__media__icon i{
    margin: 5px;
    font-size: 30px;
}
.read__more{
    color: #0e777e;
}
.newsletter__sub__div {
    margin-left: 2em;
    margin-top: 3em;
}
.subscribe{
    font-weight: 700;
}
.sub__email__form input{
    width: 40%;
    color: #a9a1a1;
    background: #edebeb;
    border: none;
    height: 30px;
}
.sub__email__form button{
    margin-left: -5px;
    background: #0e777e;
    color: white;
    height: 30px;
    border: none;
    width: 12%;
}
.user__qualification{
    font-weight: 600;
    margin-bottom: 1em;
}