body{
    padding: 0;
    margin: 0;
}
.settings__wrapper{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 41em;
}
#active__nav{
    background: white;
    width: 100%;
}
.side__bar{
    background: #f7f7f7;
    width: 20%;
    text-align: center;
    display: grid
}
.side__bar h3{
    color: #3667e7;
}
.setting__body{
    display: grid;
    margin-left: 2.5em;
}
.save__changes__btn{
    background: #3667e7;
    height: 40px;
    width: 9em;
    border-radius: 5px;
    border: none;
    color: white;
}
.side__bar__nav{
    height: 50px;
}
#theme__select {
    background: #f8f8f8;
    height: 3.5em;
    border-radius: 5px;
    /* margin-bottom: 19em; */
    width: 100%;
}
.switch__div{
    margin-bottom: 17em;
}
.sidebar__nav__div {
    display: grid;
    height: 5em;
    margin-bottom: 22em;
}
