@import url("default.css");

/* Contact section */

.form-area {
  width: 90%;
  background-color: var(--grey);
}

.contact-form {
  width: 50%;
}

.form-group {
  margin: 30px 0;
}

.form-control {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 8px;
}

.btn-submit {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
}

.btn-submit:hover {
  color: white;
}

/* Mobile style */
@media (max-width: 767.98px) {
  .image-header {
    height: 150px;
  }

  .contact-section {
    margin: 10px auto;
  }

  .contact-form {
    width: 80%;
  }

  .follow-icons {
    margin-top: 200px;
  }
}